#listOfNamesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1em;
}

.nameBox {
    width: fit-content;
}

.team {
    width: fit-content;
    border-radius: 20px;
    margin: 10px;
    padding: 1em;
    background-color: lightblue
}