* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("./images/south-park-bus-stop.jpg");

    background-size: cover;
}

body:hover {
    cursor: default;
}

#homeContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    grid-column-gap: 100px;
    justify-content: center;

    grid-template-areas:
        "header header"
        "teamSize genButton"
        "listOfNames resultTeams";
}

#title {
    grid-area: header;
    justify-self: center;
    background-image: url("./images/woodBackground.jpeg");
    background-position: center;
    box-shadow: 15px 15px 15px black;
    border-radius: 10px;
    border: 3px solid black;

}

#titleText {
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 38px;

}

#teamSizeContainer {
    font-weight: bold;
    grid-area: teamSize;
    color: white;
    background-color: darkslateblue;
    border-radius: 10px;
    border: 5px solid firebrick;

    box-shadow: 15px 15px 15px black;
    justify-items: center;
    padding-left: 20px;
    padding-right: 20px;

}

#pickTeamSize {
    text-shadow: 1px 1px 5px black;
    font-size: 24px;
}

input.radioBtn {
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: relative;
    top: 3px;

}

.teamSizeLabel {
    text-shadow: 1px 1px 5px black;

    font-size: 20px;
}

.teamSizeLabel:hover {
    opacity: 60%;
}


#generateButton {
    grid-area: genButton;
    align-self: center;
    justify-self: start;
}

#generateButton:hover {
    position: relative;
    top: -5px;
}

#genTeamsBtn {
    margin-left: 50px;
    width: 280px;
    height: 125px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 5px black;
    background-color: darkorange;
    border: 8px solid saddlebrown;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 15px 15px 15px black;

}

#listOfNamesContainer {
    text-shadow: 1px 1px 5px black;
    grid-area: listOfNames;
    background-color: forestgreen;
    height: fit-content;
    width: fit-content;
    justify-self: center;
    border-radius: 10px;
    box-shadow: 15px 15px 15px black;

}

#resultContainer {
    height: fit-content;
    grid-area: resultTeams;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;
}

.nameBox {
    font-size: 18px;
    padding-left: 10px;
    padding: 2px;
    padding-right: 10px;
    color: white;
    background-color: forestgreen;
    border-radius: 3px;
    border: 1px solid darkorange;
}

.nameBox:hover {
    opacity: 60%;
}

input.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#unorderedList {
    list-style-type: square;
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 1px 1px black;
}

.listItem {
    text-shadow: 1px 1px black;
    font-size: 18px;
    padding-top: 10px;
}

.listItem:hover {
    opacity: 60%;
    cursor: default;
}

.team {
    color: azure;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    margin-bottom: 15px;
    padding-right: 20px;
    background-color: deepskyblue;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 10px 10px 10px black;
    border: 5px solid yellow;
}